*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    color:#000000;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8a1a1;
    min-width: 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
 /* Change color of links on hover */
 .dropdown-content a:hover {
        background-color: #ddd;
    }
a{
    text-decoration: none;
    color:#050505;
}
p{
    color:#040404;
}
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10PX 30PX 10PX 60PX;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
max-width: 50%;
padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px;
}
.btn{
    display:inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin:30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#54bfe0);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis:30%;
    min-width: 20px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 60%;
    height:60%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color:#ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}

/*---------testimonial-----*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: transform 0.5s;
}
.testimonial .col-3 img{
    width:50px;
    margin-top: 20px;
    border-radius: 50%;
}   
.testimonial .col-3:hover{
    transform: translateY(-10px);
} 
.fa.fa-quote-left{
    font-size: 34px;
    color:#ff523b;
}
.col-4:p{
    font-size: 12px;
    margin: 12px 0;
    color:#777;
}
.testimonial .col-3  h3{
    font-weight: 600;
    color:#555;
    font-size: 16px;
}

/*--------footer----*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color:#fff ;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis:30%
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
 width: 180px;
 margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
   }
ul{
    list-style-type:none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width:140px;
}
.footer hr{
   border: none;
   background: #b5b5b5;
   height: 1px;
   margin: 20px 0;
}
.copyright{
    text-align: center;
  
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display:none;
}
.about{
    display: flex;
    width: 750px;
    height:70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*---Register page---*/
.containers{
    display: flex;
    width: 80%;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container{
    width:300px;
    height: 350px;
    position: relative;
    text-align: center; 
    padding: 0%;
    margin: auto;
    overflow: hidden;
    display: flex;
  }
  .form-container span{
    font-size: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  .form-btn{
    display: inline-block;
  }
  .form-container form{
    max-width: 300px;
    padding: 0 20px;
   position: absolute;
    top: 130px;
    transition: transform 1s;
    }
  form input{
        width: 250px;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
        border: 1px solid #ccc;
  }
  form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  form .btn:focus{
    outline: none;
  }
  #loginform{
    left: -300px;
   
  }
  #regform{
  left: 0;
  }
  form a{
    font-size: 12px;
  }

/*---------account-page----*/
.container3{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#0c76b8);
}
.form-container{
    background: #fff;
    width:300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-size: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 140px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
   position: absolute;
    top: 130px;
    transition: transform 1s;
    }
    form input{
        width: 250px;
        height: 30px;
        margin: 10px 0;
        padding: 0 10px;
        border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#loginform{
    left: -300px;
   
}
#regform{
left: 0;
}
form a{
    font-size: 12px;
}
#indicator{
    width:70px;
    border: none;
    height: 3px;
    margin-top: 4px;
    transform: translateX(140px) ;
    transition: transform 1s;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
   
}
/*-------media query for menu--------*/
@media only screen and (max-width:800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display:block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
}
.menu-icon{
    display:block;
    cursor:pointer;
}
}
/*--media query for less than 150 screen size--*/
@media only screen and (max-width:600px){
    .row{
        text-align:center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}
/*-media query for contact page--*/
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}

